h1 {
    color: black;
}

body {
    background-color:  #ffff66;
}

p {
    color: black;
    margin: 10%;
    margin-left:10%;
     font-family: sans-serif; 
}

div.format {
   
    margin: auto;
   
    font: verdana; 
    
}

a{
  text-decoration: none;
}

a:link, a:visited {
    color: red;
}

a:hover {
    color:pink;
}

div.margin-left {
    
    float:left;
    width: 20%;
    margin:1.5%
}

div.margin-right {
    
    float:right;
    width: 20%;
    margin:1.5%
}

/* top menu*/



div.gallery {
    display:inline-block;

}


div.frontpage {
    background-color: lightgray;
    width: 50%;
    margin: auto;
    border-bottom: 3px solid dimgray;
    border-right: 3px solid dimgray;
    border-left: 3px solid dimgray;
    border-top: 3px solid dimgray;
    text-align: center;
    float:center;
    column-count: 2;
   
}

img.banner{
    margin: -1.85px;
}

iframe.frontimage{
    margin:10px;
}

iframe{
    
   width:80%;
}

p {
    margin:10px;
}

img{
    margin:10px;
}

embed{
    margin:10px;
}

img{
 width:80%;   
    
}

?
